/bin/**
/obj/**
/.vs/**
/.vscode/**
*.suo
*.user
*.vs
/.vs/*


/src/Sds.Events.Domain/bin
/src/Sds.Events.MVC/bin
/src/Sds.Events.Repository/bin
/src/Sds.Events.Web/bin
/src/Sds.Events.WebAPI/bin

/src/Sds.Events.Domain/obj
/src/Sds.Events.MVC/obj
/src/Sds.Events.Repository/obj
/src/Sds.Events.Web/obj
/src/Sds.Events.WebAPI/obj

/src/Sds.Events.UI/node_modules
/.vs/
/src/Sds.Events.UI/.angular
/src/bin/Debug
/src/obj
/src/Sds.Events.Tests/bin/Debug/net6.0
/src/Sds.Events.Tests/obj
