/bin/**
/obj/**
/.vs/**
/.vscode/**
*.suo
*.user
*.vs
/.vs/*


/Sds.Events.Domain/bin
/Sds.Events.MVC/bin
/Sds.Events.Repository/bin
/Sds.Events.Web/bin
/Sds.Events.WebAPI/bin

/Sds.Events.Domain/obj
/Sds.Events.MVC/obj
/Sds.Events.Repository/obj
/Sds.Events.Web/obj
/Sds.Events.WebAPI/obj

/ProAgil-App/node_modules
/.vs/
