<app-title [title]="title"></app-title>
<div class="row mb-2">
  <div class="col-md-12" action="" method="get">
      <div class="input-group">
        <input type="search" class="form-control mr-2" aria-label="Search" placeholder="Buscar" [(ngModel)]="filterList" />
          <div class="input-group-append">
              <button class="btn btn-outline-success" type="button">Pesquisar</button>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-outline-primary" (click)="newEvent(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Registro
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-dark btn-sm custom-btn" (click)="alterImg()" tooltip="Ver | Ocultar">
          <i class="{{showImg ? 'fa fa-eye-slash' : 'fa fa-eye'}} custom-icon"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th colspan="2" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of eventsFiltered">
      <td>
        <img *ngIf="showImg" src="http://localhost:5000/resources/images/{{event.imageURL}}" alt="Imagem"
          [style.width.px]="50" [style.margin.px]="2">
      </td>
      <td>{{event.id}}</td>
      <td>{{event.theme | uppercase }}</td>
      <td>{{event.local}}</td>
      <td>{{event.eventDate | DateTimeFormat }}</td>
      <td>{{event.personQtd}}</td>
      <td>
        <div *ngIf="!event.lots.length">Sem Lote</div>
        <div>
          <span *ngFor="let lot of event.lots">{{lot.name | uppercase}} | </span>
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-primary" (click)="editEvent(template, event)" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteEvent(confirm, event)" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <a [routerLink]="['/event', event.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!--Template Modal-->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Edição</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Formulário-->
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('theme').errors && registerForm.get('theme').touched}"
                formControlName="theme" placeholder="Tema">
              <div *ngIf="registerForm.get('theme').hasError('required') && registerForm.get('theme').touched"
                class="invalid-feedback">Tema é obrigatório</div>
              <div *ngIf="registerForm.get('theme').hasError('minlength') && registerForm.get('theme').touched"
                class="invalid-feedback">Mínimo 4 caracteres</div>
              <div *ngIf="registerForm.get('theme').hasError('maxlength') && registerForm.get('theme').touched"
                class="invalid-feedback">Máximo 50 caracteres</div>
              <div *ngIf="registerForm.get('theme').hasError('pattern') && registerForm.get('theme').touched"
                class="invalid-feedback">Somente textto de A-Z</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
                formControlName="local" placeholder="Local">
              <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched"
                class="invalid-feedback">Tema é obrigatório</div>
              <div *ngIf="registerForm.get('local').hasError('minlength') && registerForm.get('local').touched"
                class="invalid-feedback">Mínimo 4 caracteres</div>
              <div *ngIf="registerForm.get('local').hasError('maxlength') && registerForm.get('local').touched"
                class="invalid-feedback">Máximo 50 caracteres</div>
            </div>
            <div class="form-group col-md-4">
              <input type="datetime-local" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('eventDate').errors && registerForm.get('eventDate').touched}"
                formControlName="eventDate" placeholder="Data e Hora">
              <div *ngIf="registerForm.get('eventDate').hasError('required') && registerForm.get('eventDate').touched"
                class="invalid-feedback">Data e Horário são obrigatório</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <input type="number" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('personQtd').errors && registerForm.get('personQtd').touched}"
                formControlName="personQtd" placeholder="Quantidade de participantes">
              <div *ngIf="registerForm.get('personQtd').hasError('required') && registerForm.get('personQtd').touched"
                class="invalid-feedback">Quantidade de participantes é obrigatório</div>
              <div *ngIf="registerForm.get('personQtd').hasError('max') && registerForm.get('personQtd').touched"
                class="invalid-feedback">Quantidade deve ser menor que 120000</div>
            </div>
            <div class="form-group col-md-9">
              <table>
                <tr>
                  <td>
                    <button class="btn btn-success" (click)="file.click()">Enviar imagem</button>
                    <input type="file" #file class="form-control" (change)="onFileChange($event)" placeholder="Imagem"
                      style="display: none;">
                  </td>
                </tr>
              </table>
              <!-- <div *ngIf="registerForm.get('imageURL').hasError('required') && registerForm.get('imageURL').touched"
                class="invalid-feedback">Imagem é obrigatório</div> -->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('contactPhone').errors && registerForm.get('contactPhone').touched}"
                formControlName="contactPhone" placeholder="Telefone">
              <div
                *ngIf="registerForm.get('contactPhone').hasError('required') && registerForm.get('contactPhone').touched"
                class="invalid-feedback">Telefone é obrigatório</div>
            </div>
            <div class="form-group col-md-8">
              <input type="email" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('contactEmail').errors && registerForm.get('contactEmail').touched}"
                formControlName="contactEmail" placeholder="E-mail">
              <div
                *ngIf="registerForm.get('contactEmail').hasError('required') && registerForm.get('contactEmail').touched"
                class="invalid-feedback">E-mail é obrigatório</div>
              <div
                *ngIf="registerForm.get('contactEmail').hasError('email') && registerForm.get('contactEmail').touched"
                class="invalid-feedback">Deve ser um e-amil válido</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Cancelar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="saveEditions(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal Delete Event-->
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Excluindo Evento
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarEvento}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
          EXLUIR
        </button>
      </div>
    </div>
  </div>
</div>
