<app-title [title]="title"></app-title>

<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8">
      <tabset>
        <tab heading="Evento">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control" [(ngModel)]="event.theme"
                [ngClass]="{'is-invalid': registerForm.get('theme').errors && registerForm.get('theme').touched}"
                formControlName="theme" placeholder="Insira o Tema" />
              <div *ngIf="registerForm.get('theme').hasError('required')
              && registerForm.get('theme').touched" class="invalid-feedback">
                Tema é obrigatório.
              </div>
              <div *ngIf="registerForm.get('theme').hasError('minlength')
            && registerForm.get('theme').touched" class="invalid-feedback">
                Tema deve ter no mínimo 4 Caracters.
              </div>
              <div *ngIf="registerForm.get('theme').hasError('maxlength')
          && registerForm.get('theme').touched" class="invalid-feedback">
                Tema deve ter no máximo 50 Caracters.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" [(ngModel)]="event.local" [ngClass]="{'is-invalid': registerForm.get('local').errors 
              && registerForm.get('local').touched}" formControlName="local" placeholder="">
              <div *ngIf="registerForm.get('local').hasError('required')
              && registerForm.get('local').touched" class="invalid-feedback">
                Local é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="event.eventDate" bsDatepicker [ngClass]="{'is-invalid': registerForm.get('eventDate').errors 
            && registerForm.get('eventDate').touched}" formControlName="eventDate" placeholder="">
              <div *ngIf="registerForm.get('eventDate').hasError('required')
            && registerForm.get('eventDate').touched" class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Qtd Pessoas</label>
              <input type="text" [(ngModel)]="event.personQtd" [ngClass]="{'is-invalid': registerForm.get('personQtd').errors 
              && registerForm.get('personQtd').touched}" class="form-control is-invalid" formControlName="personQtd"
                placeholder="">
              <div *ngIf="registerForm.get('personQtd').hasError('required')
              && registerForm.get('personQtd').touched" class="invalid-feedback">
                Qtd Pessoas é obrigatório.
              </div>
              <div *ngIf="registerForm.get('personQtd').hasError('max')
            && registerForm.get('personQtd').touched" class="invalid-feedback">
                Qtd Pessoas deve ser menor que 120000.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" mask="(00) 00000-0000" class="form-control" [(ngModel)]="event.contactPhone" [ngClass]="{'is-invalid': registerForm.get('contactPhone').errors 
            && registerForm.get('contactPhone').touched}" formControlName="contactPhone" placeholder="(00) 00000-0000">
              <div *ngIf="registerForm.get('contactPhone').hasError('required')
            && registerForm.get('contactPhone').touched" class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="event.contactEmail" [ngClass]="{'is-invalid': registerForm.get('contactEmail').errors 
            && registerForm.get('contactEmail').touched}" formControlName="contactEmail" placeholder="e-mail">
              <div *ngIf="registerForm.get('contactEmail').hasError('required')
            && registerForm.get('contactEmail').touched" class="invalid-feedback">
                Email é obrigatório.
              </div>
              <div *ngIf="registerForm.get('contactEmail').hasError('contactEmail')
          && registerForm.get('contactEmail').touched" class="invalid-feedback">
                Deve ser um e-mail válido.
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Lotes">
          <div>
            <div formArrayName="lots" *ngFor="let lot of lots.controls; let i=index">
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  {{'Lotes'}}
                  <button class="btn btn-sm btn-warning mb-1" (click)="removeLot(i)">remove</button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Lote">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Quantidade</label>
                    <input type="number" class="form-control" formControlName="qty" placeholder="000">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Preço</label>
                    <input type="text" class="form-control" formControlName="price" placeholder="R$ 0,00">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Início</label>
                    <input type="date" class="form-control" formControlName="startDate" placeholder="01/01/2019">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Fim</label>
                    <input type="date" class="form-control" formControlName="endDate" placeholder="01/01/2019">
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="btn btn-outline-primary" (click)="addLot()">
              Adicionar Lote
            </button>
          </div>
        </tab>
        <tab heading="Redes Sociais">
          <div>
            <div formArrayName="networks" *ngFor="let network of networks.controls; let i=index">
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  <button class="btn btn-sm btn-warning mb-1" (click)="removeSocialNetWork(i)">remove</button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Nome</label>
                    <select class="form-control" formControlName="name">
                      <option value="">Selecione</option>
                      <option value="fab fa-youtube">Youtube</option>
                      <option value="fab fa-instagram">Instagram</option>
                      <option value="fab fa-facebook">Facebook</option>
                      <option value="fab fa-twitter">Twitter</option>
                      <option value="fab fa-google">Google</option>
                      <option value="fab fa-linkedin">Linkedin</option>
                      <option value="fab fa-pinterest">Pinterest</option>
                      <option value="fab fa-whatsapp">Whatsapp</option>
                      <option value="fab fa-telegram">Telegram</option>
                      <option value="fab fa-skype">Skype</option>
                      <option value="fab fa-vimeo">Vimeo</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Link</label>
                    <input type="text" formControlName="url" class="form-control" placeholder="URL">
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="btn btn-outline-primary" (click)="addSocialNetWork()">Adicionar Rede Social</button>
          </div>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
          <button [disabled]="!registerForm.valid" class="btn btn-success my-2">Salvar Alterações</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-9">
          <input type="file" #file (change)="onFileChange($event.target.files)" class="form-control is-invalid"
            formControlName="imageURL" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img [src]="imageURL" class="img-fluid" (click)="file.click()" style="cursor: pointer; width: 350px;"
            alt="Card image cap" />
        </div>
        <div class="card-body pt-3">
          <h4>{{event.theme}}</h4>
          <p class="card-text">
            <b>Local:</b> {{event.local}}
            <br>
            <b>Data:</b> {{event.eventDate}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
            <small class="text-muted">Telefone: {{event.contactPhone | mask: '(00) 00000-0000'}}</small>
            <br>
            <small class="text-muted">e-mail: {{event.contactEmail }}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{event.personQtd}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a class="mr-3" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>