<div class="form-inline" action="" method="get">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="filterList"/>
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>FIlter {{filterList}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light"
        (click)="alterImg()" tooltip="Ver | Ocultar">
        <i class="{{showImg ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Ações</th>
  </tr>
</thead>
<tbody *ngIf="events && events.length">
  <tr *ngFor="let event of eventsFiltered">
    <td>
      <img *ngIf="showImg"
      src="http://localhost:5000/img/{{event.imageURL}}"
      alt="Imagem"
      [style.width.px]="50"
      [style.margin.px]="2">
    </td>
    <td>{{event.id}}</td>
    <td>{{event.theme | uppercase }}</td>
    <td>{{event.local}}</td>
    <td>{{event.eventDate | DateTimeFormat }}</td>
    <td>{{event.personQtd}}</td>
    <td>
      <div *ngIf="!event.lots.length">Sem Lote</div>
      <div>{{event.lots[0].name | uppercase}}</div>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-primary" (click)="openModal(modal)" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!events.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>Nenhum evento encontrado</h4>
    </td>
  </tr>
</tfoot>
</table>

<!--Template Modal-->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button class="close pull-right" aria-hidden="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal
  </div>
</ng-template>

<!--Formulário-->
<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control"
       [ngClass]="{'is-invalid': registerForm.get('theme').errors && registerForm.get('theme').touched}" 
      formControlName="theme" placeholder="Tema">
      <div *ngIf="registerForm.get('theme').hasError('required') && registerForm.get('theme').touched" class="invalid-feedback">Tema é obrigatório</div>
      <div *ngIf="registerForm.get('theme').hasError('minlength') && registerForm.get('theme').touched" class="invalid-feedback">Mínimo 4 caracteres</div>
      <div *ngIf="registerForm.get('theme').hasError('maxlength') && registerForm.get('theme').touched" class="invalid-feedback">Máximo 50 caracteres</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="text" class="form-control is-invalid" formControlName="local" placeholder="Local">
      <div class="invalid-feedback">Local é obrigatório</div>
    </div>
    <div class="form-group col-md-4">
      <input type="datetime-local" class="form-control is-invalid" formControlName="eventDate" placeholder="Data e Hora">
      <div class="invalid-feedback">Horário é obrigatório</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-3">
      <input type="number" class="form-control is-invalid" formControlName="personQtd" placeholder="Quantidade de participantes">
      <div class="invalid-feedback">Quantidade de participantes é obrigatório</div>
    </div>
    <div class="form-group col-md-9">
      <input type="image" class="form-control is-invalid" formControlName="imageURL" placeholder="Imagem">
      <div class="invalid-feedback">Imagem é obrigatório</div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control is-invalid" formControlName="contactPhone" placeholder="Telefone">
      <div class="invalid-feedback">Telefone é obrigatório</div>
    </div>
    <div class="form-group col-md-8">
      <input type="email" class="form-control is-invalid" formControlName="contactEmail" placeholder="E-mail">
      <div class="invalid-feedback">E-mail é obrigatório</div>
    </div>
  </div> 
</form>
<br>
<button class="btn btn-secondary" (click)="openModal(modal)">
  Fechar
</button>
<button class="btn btn-primary" (click)="saveEditions()">
  Salvar Alterações
</button>
<br>
<br>