<div class="form-inline" action="" method="get">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="filterList"/>
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>FIlter {{filterList}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light"
        (click)="alterImg()" tooltip="Ver | Ocultar">
        <i class="{{showImg ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Ações</th>
  </tr>
</thead>
<tbody *ngIf="events && events.length">
  <tr *ngFor="let event of eventsFiltered">
    <td>
      <img *ngIf="showImg"
      src="http://localhost:5000/img/{{event.imageURL}}"
      alt="Imagem"
      [style.width.px]="50"
      [style.margin.px]="2">
    </td>
    <td>{{event.id}}</td>
    <td>{{event.theme | uppercase }}</td>
    <td>{{event.local}}</td>
    <td>{{event.eventDate | DateTimeFormat }}</td>
    <td>{{event.personQtd}}</td>
    <td>
      <div *ngIf="!event.lots.length">Sem Lote</div>
      <div>{{event.lots[0].name | uppercase}}</div>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-primary" (click)="openModal(modal)" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!events.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>Nenhum evento encontrado</h4>
    </td>
  </tr>
</tfoot>
</table>

<!--Template Modal-->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button class="close pull-right" aria-hidden="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal
  </div>
</ng-template>